.mapbgdiv{ /*500 282*/
	width: 250px;
	height: 141px;
	overflow: hidden;
}
/*                                                     Forest  */
.bg_for_f1{
	background: url('https://pp.vk.me/c614827/v614827351/1fbfd/t6W5F0D5dwg.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_f1{
		background: url('https://pp.vk.me/c614827/v614827351/1fc04/apysgyEGL50.jpg');
		background-size: cover;
	}
.bg_for_f2{
	background: url('https://pp.vk.me/c614827/v614827351/1fc0b/_ZsEtIRZ0IQ.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_f2{
		background: url('https://pp.vk.me/c614827/v614827351/1fc12/tbRVJfHpHeY.jpg');
		background-size: cover;
	}
.bg_for_f3{
	background: url('https://pp.vk.me/c614827/v614827351/1fbc5/4XowrhhKk48.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_f3{
		background: url('https://pp.vk.me/c614827/v614827351/1fbcc/20iIH-Iurk4.jpg');
		background-size: cover;
	}
.bg_for_f4{
	background: url('https://pp.vk.me/c614827/v614827351/1fc19/6qu75B0C-sI.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_f4{
		background: url('https://pp.vk.me/c614827/v614827351/1fbbe/iXA-KETOQ64.jpg');
		background-size: cover;
	}
.bg_for_f5{
	background: url('https://pp.vk.me/c614827/v614827351/1fbd3/YlviJnQT2eQ.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_f5{
		background: url('https://pp.vk.me/c614827/v614827351/1fbda/hrRDzlRlmGQ.jpg');
		background-size: cover;
	}
.bg_for_f6{
	background: url('https://pp.vk.me/c614827/v614827351/1fbe1/gJ3abpRnn_Q.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_f6{
		background: url('https://pp.vk.me/c614827/v614827351/1fbe8/L24s8e_t8x4.jpg');
		background-size: cover;
	}
.bg_for_f7{
	background: url('https://pp.vk.me/c614827/v614827351/1fbef/5uG8Smc59QI.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_f7{
		background: url('https://pp.vk.me/c614827/v614827351/1fbf6/zE0_UgW1DvY.jpg');
		background-size: cover;
	}
.bg_for_f8{
	background: url('https://pp.vk.me/c625221/v625221351/17/-8jvdFNC2WQ.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_f8{
		background: url('https://pp.vk.me/c625221/v625221351/1e/Tu3BLhBFa4w.jpg');
		background-size: cover;
	}
/*                                                     Desert  */
.bg_for_d1{
	background: url('https://pp.vk.me/c622030/v622030351/84/CWbJw2UoGCw.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_d1{
		background: url('https://pp.vk.me/c622030/v622030351/8b/dbJeImeExaI.jpg');
		background-size: cover;
	}
.bg_for_d2{
	background: url('https://pp.vk.me/c622030/v622030351/76/NWKV1p_MHtg.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_d2{
		background: url('https://pp.vk.me/c622030/v622030351/7d/eg3UZzXggaw.jpg');
		background-size: cover;
	}
.bg_for_d3{
	background: url('https://pp.vk.me/c622030/v622030351/68/nNkeu7PCHJE.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_d3{
		background: url('https://pp.vk.me/c622030/v622030351/6f/Y2th8Ia8Vy4.jpg');
		background-size: cover;
	}
.bg_for_d4{
	background: url('https://pp.vk.me/c622030/v622030351/5a/MjhOvatcUSE.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_d4{
		background: url('https://pp.vk.me/c622030/v622030351/61/hML2RAh8UWM.jpg');
		background-size: cover;
	}
.bg_for_d5{
	background: url('https://pp.vk.me/c622030/v622030351/4c/m-6rH3QMnhY.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_d5{
		background: url('https://pp.vk.me/c622030/v622030351/53/4p6ioWJhMDI.jpg');
		background-size: cover;
	}
.bg_for_d6{
	background: url('https://pp.vk.me/c622030/v622030351/3e/N8OkNVF8hs8.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_d6{
		background: url('https://pp.vk.me/c622030/v622030351/45/RZjD7Mb3F6k.jpg');
		background-size: cover;
	}
.bg_for_d7{
	background: url('https://pp.vk.me/c622030/v622030351/30/mnjY-zc_XSY.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_d7{
		background: url('https://pp.vk.me/c622030/v622030351/37/sv3-a8ec-eY.jpg');
		background-size: cover;
	}
.bg_for_d8{
	background: url('https://pp.vk.me/c622030/v622030351/22/l5BZeAhyatA.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_d8{
		background: url('https://pp.vk.me/c622030/v622030351/29/rkw0C-3jmhM.jpg');
		background-size: cover;
	}
.bg_for_d9{
	background: url('https://pp.vk.me/c622030/v622030351/bc/tjJIv-AlEwM.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_d9{
		background: url('https://pp.vk.me/c622030/v622030351/c3/pH7r3tm9TCI.jpg');
		background-size: cover;
	}
.bg_for_d10{
	background: url('https://pp.vk.me/c622030/v622030351/ae/pVMFqzOd9Tk.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_d10{
		background: url('https://pp.vk.me/c622030/v622030351/b5/CjGMx10lq4g.jpg');
		background-size: cover;
	}
.bg_for_d11{
	background: url('https://pp.vk.me/c622030/v622030351/d1/GRF22c_tCvQ.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_d11{
		background: url('https://pp.vk.me/c622030/v622030351/ca/6ByX_MCX1bY.jpg');
		background-size: cover;
	}
.bg_for_d12{
	background: url('https://pp.vk.me/c622030/v622030351/92/gvmirwIdza4.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_d12{
		background: url('https://pp.vk.me/c622030/v622030351/99/mpV0Mw4f3IE.jpg');
		background-size: cover;
	}
.bg_for_d13{
	background: url('https://pp.vk.me/c622030/v622030351/a0/egXlxqqtUm8.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_d13{
		background: url('https://pp.vk.me/c622030/v622030351/a7/ERbG99_-T7c.jpg');
		background-size: cover;
	}
/*                                                     Plane   */
.bg_for_p1{
	background: url('https://pp.vk.me/c622030/v622030351/30d/wwEFXyP75hE.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p1{
		background: url('https://pp.vk.me/c622030/v622030351/314/T4D7X5l0LZ0.jpg');
		background-size: cover;
	}
.bg_for_p2{
	background: url('https://pp.vk.me/c622030/v622030351/2ff/CzeoTwIED_g.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p2{
		background: url('https://pp.vk.me/c622030/v622030351/306/WLTwj4_g9Xs.jpg');
		background-size: cover;
	}
.bg_for_p3{
	background: url('https://pp.vk.me/c622030/v622030351/2f1/ldUA-tFmk84.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p3{
		background: url('https://pp.vk.me/c622030/v622030351/2f8/Em0IaVyrmus.jpg');
		background-size: cover;
	}
.bg_for_p4{
	background: url('https://pp.vk.me/c622030/v622030351/2e3/xRBO42O0l6g.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p4{
		background: url('https://pp.vk.me/c622030/v622030351/2ea/MgB9BBSC62E.jpg');
		background-size: cover;
	}
.bg_for_p5{
	background: url('https://pp.vk.me/c622030/v622030351/2d5/ZHJkZtB2ZM4.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p5{
		background: url('https://pp.vk.me/c622030/v622030351/2dc/wTg04KdR43o.jpg');
		background-size: cover;
	}
.bg_for_p6{
	background: url('https://pp.vk.me/c622030/v622030351/2c7/qOH_XLAyghM.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p6{
		background: url('https://pp.vk.me/c622030/v622030351/2ce/ul84oi4Qxhw.jpg');
		background-size: cover;
	}
.bg_for_p7{
	background: url('https://pp.vk.me/c622030/v622030351/2b9/nT1fN9_-jW4.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p7{
		background: url('https://pp.vk.me/c622030/v622030351/2c0/VoCJUcn-i18.jpg');
		background-size: cover;
	}
.bg_for_p8{
	background: url('https://pp.vk.me/c622030/v622030351/2ab/7pTDcR1K6kw.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p8{
		background: url('https://pp.vk.me/c622030/v622030351/2b2/srz8i6s6WFg.jpg');
		background-size: cover;
	}
.bg_for_p9{
	background: url('https://pp.vk.me/c622030/v622030351/29d/MZ2U61P0F_E.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p9{
		background: url('https://pp.vk.me/c622030/v622030351/2a4/7uYjg1s3Bjk.jpg');
		background-size: cover;
	}
.bg_for_p10{
	background: url('https://pp.vk.me/c622030/v622030351/28f/KyrwP5J_xcI.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p10{
		background: url('https://pp.vk.me/c622030/v622030351/296/nw2kcJNGbaM.jpg');
		background-size: cover;
	}
.bg_for_p11{
	background: url('');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p11{
		background: url('');
		background-size: cover;
	}
.bg_for_p12{
	background: url('https://pp.vk.me/c622030/v622030351/273/J3NN8NAJViU.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p12{
		background: url('https://pp.vk.me/c622030/v622030351/27a/hxHf4EWYW6Y.jpg');
		background-size: cover;
	}
.bg_for_p13{
	background: url('https://pp.vk.me/c622030/v622030351/265/mkb6UacpeXU.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p13{
		background: url('https://pp.vk.me/c622030/v622030351/26c/ZzTQcuAgPSk.jpg');
		background-size: cover;
	}
.bg_for_p14{
	background: url('https://pp.vk.me/c622030/v622030351/257/NXG254pV-qU.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p14{
		background: url('https://pp.vk.me/c622030/v622030351/25e/iR2fmiOICeQ.jpg');
		background-size: cover;
	}
.bg_for_p15{
	background: url('https://pp.vk.me/c622030/v622030351/249/jPx2HyAmuz4.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p15{
		background: url('https://pp.vk.me/c622030/v622030351/250/bRXpahO0Bfc.jpg');
		background-size: cover;
	}
.bg_for_p16{
	background: url('https://pp.vk.me/c622030/v622030351/31b/EjUeR9aF22U.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p16{
		background: url('https://pp.vk.me/c622030/v622030351/242/vZ2ml0LseLc.jpg');
		background-size: cover;
	}
.bg_for_p17{
	background: url('https://pp.vk.me/c613431/v613431351/1a929/KYXK-u6MbYg.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p17{
		background: url('https://pp.vk.me/c613431/v613431351/1a930/GtEO29ELUmE.jpg');
		background-size: cover;
	}
.bg_for_p18{
	background: url('https://pp.vk.me/c613431/v613431351/1a91b/jqIfr3na-F4.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p18{
		background: url('https://pp.vk.me/c613431/v613431351/1a922/tzAw_PXAdX8.jpg');
		background-size: cover;
	}
.bg_for_p19{
	background: url('https://pp.vk.me/c613431/v613431351/1a90d/gYnAiwmDjeI.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p19{
		background: url('https://pp.vk.me/c613431/v613431351/1a914/Pwxlg6I7Rsk.jpg');
		background-size: cover;
	}
.bg_for_p20{
	background: url('https://pp.vk.me/c613431/v613431351/1a8ff/goDdcTDhWuM.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p20{
		background: url('https://pp.vk.me/c613431/v613431351/1a906/xTRyfJLu4yQ.jpg');
		background-size: cover;
	}
.bg_for_p21{
	background: url('https://pp.vk.me/c613431/v613431351/1a8f1/6zDSk3QuSmA.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p21{
		background: url('https://pp.vk.me/c613431/v613431351/1a8f8/WLYmOMAn90U.jpg');
		background-size: cover;
	}
.bg_for_p22{
	background: url('https://pp.vk.me/c613431/v613431351/1a8e3/CnX5cKQ5Ws8.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p22{
		background: url('https://pp.vk.me/c613431/v613431351/1a8ea/mhUYl_8MjJ8.jpg');
		background-size: cover;
	}
.bg_for_p23{
	background: url('https://pp.vk.me/c613431/v613431351/1a8d5/5H3dVYzTg5Y.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p23{
		background: url('https://pp.vk.me/c613431/v613431351/1a8dc/FtVnPZ3hU44.jpg');
		background-size: cover;
	}
.bg_for_p24{
	background: url('https://pp.vk.me/c613431/v613431351/1a8c7/fstX_hZaATo.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p24{
		background: url('https://pp.vk.me/c613431/v613431351/1a8ce/JOupWQfDaDA.jpg');
		background-size: cover;
	}
.bg_for_p25{
	background: url('https://pp.vk.me/c613431/v613431351/1a961/r5obNMU6eO4.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p25{
		background: url('https://pp.vk.me/c613431/v613431351/1a8c0/S7paAewGflg.jpg');
		background-size: cover;
	}
.bg_for_p26{
	background: url('https://pp.vk.me/c613431/v613431351/1a953/imHISDy18Ok.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p26{
		background: url('https://pp.vk.me/c613431/v613431351/1a95a/Pv5YtwAf5Tg.jpg');
		background-size: cover;
	}
.bg_for_p27{
	background: url('https://pp.vk.me/c613431/v613431351/1a945/rqaH7d8m79I.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p27{
		background: url('https://pp.vk.me/c613431/v613431351/1a94c/FGFJhuFIMkg.jpg');
		background-size: cover;
	}
.bg_for_p28{
	background: url('https://pp.vk.me/c625526/v625526351/21e58/5nU92RCp-TQ.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p28{
		background: url('https://pp.vk.me/c625526/v625526351/21e51/7yJnpJ-3SWc.jpg');
		background-size: cover;
	}
.bg_for_p29{
	background: url('https://pp.vk.me/c625526/v625526351/21e66/M-d_L2ccDAU.jpg');
	background-size: cover;
}
@media (min-resolution: 144dpi) .bg_for_p29{
		background: url('https://pp.vk.me/c625526/v625526351/21e5f/S_G4FBGGTQc.jpg');
		background-size: cover;
	}